.btn-vertical {
  background: url("./images/kontanier76.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  
  width: 100%;
  height: 100%
}
.btn-horizantal  {
  background: url("./images/kontanier 749.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* img.name.rotate-90.w-\[250px\].block.h-\[250px\].border {
  object-fit: cover !important;
  height: 370px !important;
} */

.ant-drawer-content-wrapper {
  width: 50% !important;
}